node_modules/
dist/
release/
.DS_Store
*.log
*.tsbuildinfo
.env
server/config/
server/cache/
.repos/
desktop/electron/native/build/
desktop/vendor/vlc/

server/media/
tmp/
ios/.build/
ios/Prism.xcodeproj/

ios/Vendor/
